=simple_form_for @treatment, defaults: { input_html: { class: 'rounded flex flex-col mt-2' }, label_html:{class:"hidden"} } do |f|
  =f.input :name, placeholder: "Nombre tratamiento"
  =f.input :price, placeholder: "Precio tratamiento"

  div.flex.justify-center
    =f.submit 'Guardar tratamiento', class:"rounded p-1 mt-3 hover:bg-gray-300"